<div class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-10 no-float center-block master-search-wrap">
            <h2 class="master-header">Search For Reviews</h2>
            <div class="input-group input-group-lg master-search">
                <input type="text" class="form-control" placeholder="eg: Avengers Age of Ultron Review">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" id="master-category-dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.master-search -->
            <p class="help-block text-muted text-center">
                <small>Type a keyword or select from the category</small>
            </p>
        </div>
    </div>
</div>